 .nav-item a{
      color:white !important;
} 
.nav-item a:hover{
 color: aqua !important;
    transition: 2s all;
}
.navbar-brand{
    color:white !important;
}
.fieldinfo{
    color: rgb(251,174,44);
    font-family:Bitter, Georgia, 'Times New Roman', Times, serif;
    font-size:1.2rem;

}